{% extends 'base.html.twig' %}

{% block title %}Hello AlumnoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Registro de alumno</h1>
</div>

 {{ form(form) }}

    <h3>Selecciona tus cursos</h3>
     <table class="table">
     <thead>
            <tr>
                <th>Id</th>
                <th>Curso</th>
                <th>Créditos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.creditos }}</td>
                <td><input type="checkbox" name="cursosSeleccionados[]" value="{{ curso.id }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay cursos disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    
{% endblock %}
