{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}
    <h1>Curso index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.creditos }}</td>
                <td>
                    <a href="{{ path('app_curso_show', {'id': curso.id}) }}">ver</a>
                    <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">editar</a>
                    <a href="{{ path('app_curso_delete', {'id': curso.id}) }}">eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay cursos registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_curso_new') }}">Create new</a>
{% endblock %}
